%html
  %head
    %script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    %script(src='js/jquery.plugin.js')
    %script(src='js/jquery.swipe.js')
    %script(src='js/jquery.zoom.js')


    %link(rel="stylesheet" type="text/css" href="css/styles.css")

  %body
    #image

    .controls
      %a.button.in= 'IN'
      %a.button.out= 'OUT'
